.facts {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 1em;

  @media (max-width: breakpoint(small, max)) {
    display: none;
  }

  &-inner {
    padding: 0.25em 0.75em;
    background: rgba(#000, 0.65);
    border-radius: 0.5em;
    color: #fff;
  }

  &-content {
    margin-left: 0.25em;
  }
}
