.navigation {
  font-size: 24px;

  a {
    // color: rgba(#fff, 0.75);

    &:hover,
    &:focus,
    &.active {
      // color: #fff;
    }

    .icon {
      margin-right: 0.25em;
    }
  }

  .btn {
    padding-top: 0;
    padding-bottom: 0;

    .icon {
      position: relative;
      bottom: 1px;
      margin-left: 0.5em;
    }
  }
}
