// your colors
$colors: (
  primary: #A51A41,
  secondary: #84BFC3
);

// type
$font-family-heading: 'unica one', 'helvetica neue', helvatica, 'arial narrow', arial, sans-serif;

// brand colors
$bc: (
  facebook: #3b5998
);

// used for calculating z-index
$elements: main, navigation;
