body {
  font-family: "Lucida Grande", sans-serif;
  font-size: 18px;
  margin: 0;
}

#content {
  max-width: 1024px;
  margin: 3em auto;
}

#content p,
#content ul,
#content label {
  font-family: Helvetica, sans-serif;
  font-weight: 100;
}

#content a {
  color: #A51A41;
}

header {
  color: white;
  background: #A51A41;
}

header a {
  color: inherit;
  text-decoration: none;
}

nav {
  font-size: 22px;
  padding: 10px;
  max-width: 1024px;
  margin: 0 auto;
}

nav .header-title {
  font-size: 30px;
  text-transform: uppercase;
}

nav .ask {
  float: right;
  background: white;
  color: #A51A41;
  padding: .2em .5em;
  border-radius: .25em;
}

svg {
  height: 0.8em;
}

input[type=text],
input[type=email],
textarea {
  display: block;
  margin: .2em 0 .5em 0;
  width: 100%;
  font-size: 22px;
}

form button {
  display: block;
  margin-top: 1em;
  padding: .5em 1em;
  background: #A51A41;
  color: white;
  font-size: 22px;
  border: none;
  border-radius: .25em;
}
