<form class="form" action="http://formspree.io/matija.marohnic@gmail.com" method="post">
  <label class="form-label">
    <span class="form-optional">Email</span>
    <input class="form-control" name="email" type="email">
  </label>

  <label class="form-label">
    <span class="form-required">Naslov</span>
    <input class="form-control" name="_subject" type="text">
  </label>

  <label class="form-label">
    <span class="form-required">Pitanje</span>
    <textarea class="form-control" name="message" rows="7" required></textarea>
  </label>

  <input type="hidden" name="_next" value="{{ '/hvala' | prepend: site.baseurl }}" />

  <input type="text" name="_gotcha" hidden>

  <div class="form-checkbox">
    <label class="form-label">
      <p><input name="public" type="checkbox" checked> “Pristajem na to da objaviš pitanje na ovoj web stranici.” (Bez brige, neću objaviti tvoj email.)</p>
    </label>
    <p class="form-description">Ako upišeš svoju email adresu, moći ćeš birati želiš li da objavim pitanje.</p>
  </div>

  <div class="form-actions">
    <button class="btn btn-primary" type="submit">Pošalji</button>
  </div>
</form>
