<form class="form" action="http://formspree.io/matija.marohnic@gmail.com" method="post">
  <label class="form-label" for="email">Email
    <input class="form-control" id="email" name="email" type="email" required>
  </label>

  <label class="form-label" for="_subject">Naslov
    <input class="form-control" id="_subject" name="_subject" type="text" required>
  </label>

  <label class="form-label" for="message">Pitanje
    <textarea class="form-control" id="message" name="message" rows="7" required></textarea>
  </label>

  <div class="form-checkbox">
    <p>Smijem li ovo pitanje (anonimno) objaviti na ovoj web stranici?</p>
    <label class="form-label">
      <input name="public" type="checkbox" checked> Može
    </label>
  </div>

  <input type="hidden" name="_next" value="{{ '/hvala' | prepend: site.baseurl }}" />

  <input type="text" name="_gotcha" hidden>

  <div class="form-actions">
    <button class="btn btn-primary" type="submit">Pošalji</button>
  </div>
</form>
