---
layout: site
---

{% unless page.is_blooper %}
<a class="post-back btn btn-sm btn-primary" href="{{ '/' | prepend: site.baseurl }}">
{% else %}
<a class="post-back btn btn-sm btn-secondary" href="{{ '/blooperi' | prepend: site.baseurl }}">
{% endunless %}
  <svg class="icon" style="bottom: 1px" role="presentation" viewBox="0 0 1024 1024" width="16" height="16">
    <title>Arrow left</title>
    <path fill="currentColor" d="M32 512l480 480v-288h512v-384h-512v-288z"></path>
  </svg>
  <span>Natrag na pitanja</span>
</a>

<article class="post full {% if page.is_blooper %}blooper{% endif %}">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    {% unless page.is_blooper %}
    <time class="post-time" datetime="{{ page.date | date_to_xmlschema }}">
      {{ page.date | date_to_string }}
    </time>
    {% else %}
    <div class="post-status">
      {% if page.status == 'info' %}
      Nedovoljno informacija
      {% endif %}
    </div>
    {% endunless %}
  </header>

  <div class="post-content">

    {{ content }}

  </div>
</article>

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'sretnosrce';
    var disqus_identifier = '{{ page.id }}';
    var disqus_title = '{{ page.title }}';
    var disqus_url = '{{ page.url | prepend: site.baseurl | prepend: site.url }}';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
