<!doctype html>
<html lang="hr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | escape | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <meta property="fb:admins" content="{{ site.fb_id }}">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:url" content="{{ page.url | prepend: site.baseurl | prepend: site.url | append: '/' }}">
    <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | escape }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:image" content="{{ '/og.png' | prepend: site.baseurl | prepend: site.url }}">
    <meta property="og:image:width" content="300">
    <meta property="og:image:height" content="300">
    {% if page.is_post %}
    <meta property="og:type" content="article">
    <meta property="article:author" content="https://www.facebook.com/{{ site.fb_username }}">
    <meta property="article:publisher" content="https://www.facebook.com/{{ site.fb_page }}">
    {% endif %}
    <!-- load the web font asynchronously with Web Font Loader -->
    <!-- https://github.com/typekit/webfontloader -->
    <script>
      WebFontConfig = {
        google: { families: [ 'Unica+One::latin,latin-ext', 'Open+Sans:300,300italic,600:latin,latin-ext' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>
    <link rel="stylesheet" href="{{ '/styles/main.css' | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | prepend: site.baseurl | prepend: site.url | append: '/' }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}">
  </head>
  <body>
    <header class="header">
      <div class="container">
        <a class="header-title" href="{{ '/' | prepend: site.baseurl }}">
          <span>Sretno</span><svg class="icon icon-heart" viewbox="0 0 1024 1024"><title>Heart</title><path fill="currentColor" d="M752 64c-103.912 0-194.2 58.276-240 143.92-45.802-85.644-136.090-143.92-240-143.92-150.222 0-272 121.78-272 272 0 368 512 624 512 624s512-256 512-624c0-150.22-121.778-272-272-272z"></path></svg><span>Srce</span>
        </a>

        <nav class="navigation">
          <a class="navigation-item" href="{{ '/opis' | prepend: site.baseurl }}">Što je ovo?</a>
          <a class="navigation-item btn btn-inverse-primary" href="{{ '/pitaj' | prepend: site.baseurl }}">
            <span>Pitaj me nešto</span>
            <svg class="icon icon-arrow-right" viewbox="0 0 640 1024" role="presentation" width="20" height="32">
              <title>Arrow right</title>
              <path fill="currentColor" d="M640 512l-384-320v192h-256v256h256v192l384-320z"></path>
            </svg>
          </a>
        </nav>
      </div>
    </header>

    <main class="main">
      <div class="container text">

        {{ content }}

      </div>
    </main>

    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '{{ site.gauges_id }}');
        t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
        t.src = 'https://track.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
  </body>
</html>
