<!doctype html>
<html lang="hr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <meta property="og:locale" content="hr_HR">
    {% feed_meta %}
    {% include fonts.html %}
    <link rel="apple-touch-icon" href="{{ site.baseurl }}/apple-touch-icon.png">
    <link rel="stylesheet" href="{{ site.baseurl }}/styles/main.css">
  </head>
  <body>
    {% include fb_sdk.html %}

    {{ content }}

    <footer class="footer">
      <div class="container">
        <p>Vidiš neku grešku na stranici? Javi mi na <a href="mailto:matija.marohnic@gmail.com">email</a>! :wink:</p>
      </div>
    </footer>

    <script src="{{ site.baseurl }}/scripts/micro-query.min.js"></script>

    {% if page.script %}
    <script src="{{ site.baseurl }}/scripts/{{ page.script }}.js"></script>
    {% endif %}

    {% include analytics.html %}
  </body>
</html>
