.btn {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 1rem 2rem;
  border: 0;
  border-radius: 0.25em;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }

  &[disabled] {
    opacity: 0.5;
  }

  &-sm {
    padding: 0.5rem 1.5rem;
    font-size: 0.85em;
  }

  .icon {
    position: relative;
    bottom: 2px;

    &:first-child {
      margin-right: 0.25em;
    }

    &:last-child {
      margin-left: 0.25em;
    }
  }

  &-sm .icon {
    bottom: 1px;
  }

  @each $type, $color in $colors {
    &-#{$type} {
      background: $color;
      color: #fff;

      &:hover,
      &:focus {
        background: shade($color, 15%);
        color: #fff;
      }

      &[disabled] {
        background: scale-color($color, $saturation: -50%);
      }
    }
  }

  @each $type, $color in $colors {
    &-inverse-#{$type} {
      background: #fff;
      border: 1px solid rgba($color, 0.5);
      box-shadow: 3px 3px rgba($color, 0.1);
      color: $color;

      &:hover,
      &:focus {
        color: $color;
        border-color: currentColor;
      }

      &[disabled] {
        background: #fff;
      }
    }
  }
}
