.facts {
  margin: 0.5em 0;
  color: rgba(#000, 0.75);

  @media (min-width: breakpoint(medium)) {
    margin-bottom: 1em;
  }

  b {
    color: inherit;
  }

  blockquote {
    padding: 0.5em 0.75em;
    border: 1px solid rgba(#000, 0.1);
    border-radius: 0.25em;
    box-shadow: 4px 5px rgba(#000, 0.025);
    font-size: 14px;
    font-style: normal;
    color: inherit;
  }

  p {
    display: inline;
    margin: 0;
  }
}

.fact {
  display: none;
}
