.fb-page {
  blockquote {
    border-left: 0;
    padding-left: 0;
    font-style: normal;
  }

  &-container {
    @include flex-shrink(0);
    width: 280px;
    margin-left: 1em;

    @media (max-width: breakpoint(medium, max)) {
      display: none;
    }
  }
}
