.fb-page {
  blockquote {
    border-left: 0;
    padding-left: 0;
    font-style: normal;
  }

    @media (min-width: breakpoint(medium)) {
      display: block;
      float: right;
      width: 280px;
      margin-top: 0;
      margin-left: 1em;
    }
  }
}
