.facts {
  padding: 0.25em 0.75em;
  background: rgba(#000, 0.65);
  font-size: 14px;
  color: #fff;

  @media (max-width: breakpoint(small, max)) {
    display: none;
  }

  &-content {
    margin-left: 0.25em;
  }
}
