.fb-page {
  &-container {
    display: none;

    @media (min-width: breakpoint(medium)) {
      display: block;
      float: right;
      width: 280px;
      margin-top: 0;
      margin-left: 1em;
    }
  }
}
