.form {
  margin-top: 1em;

  &-label {
    @include user-select(none);
  }

  &-control {
    display: block;
    width: 100%;
    margin: 0;
    margin-bottom: 1em;
    padding: 0.5em;
    border: 1px solid rgba(#000, 0.25);
    border-radius: 0.25em;

    &:focus {
      border-color: color(primary);
      outline: 0;
    }
  }

  // &-required {
  //   &:after {
  //     content: '*';
  //     margin-left: 0.1em;
  //     color: color(primary);
  //   }
  // }

  & &-description {
    margin-top: -1em;
    font-size: 14px;
    color: rgba(#000, 0.5);
  }

  & &-terms {
    margin-bottom: -1em;
    font-size: 14px;
    color: rgba(#000, 0.5);
  }

  textarea {
    resize: vertical;
  }

  &-checkbox {
    margin-bottom: 1em;

    p {
      margin-bottom: 0.5em;

      span {
        font-size: 14px;
        color: rgba(#000, 0.5);
      }
    }
  }

  &-checkbox &-description {
    margin-top: -0.5em;
  }

  &-actions {
    margin-top: 1em;
  }
}
