@include keyframes(pulsate) {
  0%    { @include transform(scale(0.75)); }
  50%   { @include transform(scale(0.8)); }
  100%  { @include transform(scale(0.75)); }
}

.main {
  padding-top: 1em;

  @media (min-width: breakpoint(medium)) {
    padding-top: 4em;
  }
}

.header {
  padding-top: 0.5em;
  background: color(primary);
  color: #fff;

  @media (min-width: breakpoint(medium)) {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 0;
  }

  .container {
    text-align: center;

    @media (min-width: breakpoint(medium)) {
      @include display(flex);
      @include justify-content(space-between);
      @include align-items(center);
      text-align: inherit;
    }
  }

  &-title {
    display: block;
    margin: 0;
    font-family: $font-family-heading;
    font-size: 2em;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 400;

    @media (min-width: breakpoint(medium)) {
      font-size: 3em;
    }

    &,
    &:hover,
    &:focus {
      color: #fff;
      text-decoration: none;
    }

    .icon {
      display: inline-block;
      width: 32px;
      height: 32px;
      @include transform(scale(0.75));
      @include animation(pulsate 1s infinite);

      @media (min-width: breakpoint(medium)) {
        width: 64px;
        height: 64px;
      }
    }
  }

  .navigation {
    &-item {
      &:not(.btn) {
        display: block;
        color: #fff;

        @media (min-width: breakpoint(medium)) {
          display: inline-block;
        }
      }
    }

    @media (max-width: breakpoint(medium, max)) {
      margin-top: 0.25em;

      .btn {
        position: relative;
        top: 0.5em;
        background: #fff;
        border: 2px solid color(primary);
        box-shadow: none;
      }
    }
  }

  .facts {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    @include transform(translateY(100%));
  }
}
