@include keyframes(pulsate) {
  0%    { @include transform(scale(1)); }
  50%   { @include transform(scale(0.95)); }
  100%  { @include transform(scale(1)); }
}

.main {
  padding-top: 1em;

  @media (min-width: breakpoint(medium)) {
    padding-top: 4em;
  }
}

.header {
  padding-top: 0.5em;
  background: color(primary);
  box-shadow: 0 2px 1px rgba(#000, 0.2);
  color: #fff;

  @media (min-width: breakpoint(navigation)) {
    padding-bottom: 0.5em;
  }

  @media (min-width: breakpoint(medium)) {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
  }

  .container {
    text-align: center;

    @media (min-width: breakpoint(navigation)) {
      @include display(flex);
      @include justify-content(space-between);
      @include align-items(center);
      text-align: inherit;
    }
  }

  &-title {
    display: block;
    margin: 0;
    font-family: $font-family-heading;
    font-size: 2em;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 400;

    @media (min-width: breakpoint(medium)) {
      font-size: 2.5em;
    }

    &,
    &:hover,
    &:focus {
      color: #fff;
      text-decoration: none;
    }

    .icon {
      display: inline-block;
      width: 0.9em;
      height: 0.9em;
      margin: 0 0.1em;
      @include animation(pulsate 1s infinite);
    }
  }

  .navigation {
    &-items {
      @include display(flex);
      @include flex-wrap(wrap);
      @include align-items(center);
      @include justify-content(center);
    }

    &-item {
      + .navigation-item {
        margin-left: 1em;
      }

      &:last-child {
        margin-left: 0;
        width: 100%;

        @media (min-width: breakpoint(navigation)) {
          width: auto;
          margin-left: 1em;
        }
      }

      a:not(.btn) {
        color: rgba(#fff, 0.75);
      }

      &.active {
        a:not(.btn) {
          color: #fff;
        }

        .btn {
          background: #fff;
        }
      }
    }

    .btn {
      background: rgba(#fff, 0.8);
      border: 0;
      box-shadow: 2px 2px rgba(#000, 0.25);

      &:hover,
      &:focus {
        background: #fff;
      }

      @media (max-width: breakpoint(navigation, max)) {
        margin-bottom: -0.5em;
        background: #fff;
        border: 2px solid color(primary);
        box-shadow: none;
      }
    }
  }
}
