.navigation {
  font-size: 1.25em;

  .btn {
    margin-left: 0.5em;
    padding-top: 0;
    padding-bottom: 0;

    .icon {
      width: 0.9em;
      height: 0.9em;
      position: relative;
      margin-left: 0.25em;

      &-question {
        bottom: 3px;
        margin-left: 0;
      }

      &-arrow-right {
        bottom: 1px;
        height: 1.789em;
      }
    }
  }
}
