.navigation {
  font-size: 24px;

  .btn {
    margin-left: 0.5em;
    padding-top: 0;
    padding-bottom: 0;

    .icon {
      position: relative;
      margin-left: 0.25em;

      &-question {
        bottom: 3px;
        margin-left: 0;
      }

      &-arrow-right {
        bottom: 1px;
      }
    }
  }
}
