.navigation {
  font-size: 24px;

  .btn {
    margin-left: 0.5em;
    padding-top: 0;
    padding-bottom: 0;

    .icon {
      position: relative;
      bottom: 1px;
      margin-left: 0.5em;
    }
  }
}
