.post {
  margin-bottom: 0.5em;

  @media (min-width: breakpoint(small)) {
    margin-bottom: 1em;
  }

  & + & {
    margin-top: 0.5em;
  }

  &.full &-header {
    margin-bottom: 1.5em;
  }

  &-time {
    display: block;
    margin-top: -0.25em;
    font-size: 14px;
    color: rgba(#000, 0.5);
  }

  &-more {
    &.btn {
      margin-top: 0;
    }

    &:not(.btn) {
      position: relative;
      bottom: 0.5em;
    }
  }
}
